<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

<!--       DB CONNECTION SETTINGS -->
        <!-- DB Driver -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!-- DB Name -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/ems</property>
        <!-- DB Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>

        <!-- DB User -->
        <property name="hibernate.connection.username">postgres</property>
        <!-- DB Password -->
        <property name="hibernate.connection.password">KaneDb@29</property>

        <!-- create / create-drop / update -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Show SQL queries in console -->
        <property name="hibernate.show_sql">true</property>
        <!-- Show formatted SQL -->
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.current_session_context_class">
            org.hibernate.context.internal.ThreadLocalSessionContext
        </property>

    <!-- ANNOTATED ENTITY CLASS -->
        <mapping class="org.kane.entities.Employee"/>
        <mapping class="org.kane.entities.Address"/>
        <mapping class="org.kane.entities.Role"/>

    </session-factory>
</hibernate-configuration>